name = "my-pages-app"
pages_build_output_dir = "./dist"

[dev]
# Dev server settings. Using a fixed port here so that we can reliably set vite to proxy API requests to the wrangler
port = 8787

[vars]
# Variables made available to API functions (but not the FE)
# https://developers.cloudflare.com/workers/configuration/environment-variables/

# To configure variables for the FE, use `.env.`
# https://vitejs.dev/guide/env-and-mode

# This should not be used for secrets (values you don't want in source control). For secrets, use `.dev.vars`
# https://developers.cloudflare.com/workers/configuration/secrets/

APP_NAME = 'CSR dev'

[env.preview.vars]
APP_NAME = 'CSR preview'
CF_PAGES_BRANCH = 'preview'

[env.production.vars]
APP_NAME = 'CSR production'
CF_PAGES_BRANCH = 'production'
